extends layout

block content
	h1 Current Submissions
	.row
		each submission, index in submissions
			.col-xs-6(class=(!(index%2)) ? 'clear-left' : '')
				ul.list-group
					h4 #{submission.name}`s video
					li.list-group-item.youtube-video
						iframe(src=submission.embedUrl, frameborder="0", allowfullscreen)
					li.list-group-item Title: #{submission.title}
					li.list-group-item Description: #{submission.desc}
